* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}
/* temas */
.light {
    --principal:#000;
    --secundario:#FAF8D4;
    --barraInferior:rgba(0,0,0,.5);
    --iconos:#fcfcfc;
    --retoques:#ff99d6;
    font-family: 'Poppins', sans-serif;
}
.dark {
    --principal:#fff;
    --secundario:#110a31;
    --barraInferior:rgb(75, 65, 134,.8);
    --iconos:#35074b;
    --retoques:#dbb5ec;
    font-family: 'Poppins', sans-serif;
}
.monster {
    --principal:rgb(234, 236, 234);
    --secundario:#000000;
    --barraInferior:rgba(82, 85, 83, 0.8);
    --iconos:#080c09;
    --retoques:#00f821;
    font-family: 'Poppins', sans-serif;
}
.divinity {
    --principal:rgb(251, 255, 8);
    --secundario:#694faf;
    --barraInferior:rgba(82, 85, 83, 0.8);
    --iconos:#504f2c;
    --retoques:#00b1f7;
    font-family: 'Poppins', sans-serif;
}
.dracula {
    --principal:rgb(233, 233, 233);
    --secundario:#330e0f;
    --barraInferior:rgba(32,5,6,.9);
    --iconos:#121213;
    --retoques:#E10818;
    font-family: 'Poppins', sans-serif;
}

/*Menu de temas*/
.temas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(-110vw);
    z-index: 500;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    transition: all .5s;
    opacity: .5;
}
.abrirMenuTemas {
    opacity: 1;
    transform: translateX(0);
}
.tituloYcerrar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: var(--retoques);
}
.cerrar {
    position: absolute;
    right: 2vw;
    font-size: 10vw;
    cursor: pointer;
}
.cerrar:hover {
    color: var(--principal);
}

/*temario*/ 
.temario {
    margin-top: 9vw;
}
.listaDeTemas {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1vw solid var(--principal);
    border-left: none;
    border-right: none;
    height: 20vw;
    margin-bottom: 5vw;
    color: var(--principal);
    cursor: pointer;
}
.Claro {
    background-color: #FAF8D4;
    color: #000;
}
.Oscuro {
    background-color: #1c0486;
    color: rgb(193, 201, 195);
}
.Monstruo {
    background-color: #000;
    color: rgb(65, 226, 43);
}
.Divino {
    background-color: rgb(138, 113, 61);
    color: rgb(238, 255, 139);
}
.Dracula {
    background-color: #330e0f;
    color: #E10818;
}
/*Barra de navegacion*/
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secundario);
}
body::-webkit-scrollbar-thumb {
    background: var(--retoques);
    border-radius: 8px;
  
}
/* header y boton de temas */
.superior {
    position:fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -100;
}
.modo {
    width: 12vw;
    height: 12vw;
    background-color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    border-radius: 50%;
    font-size: 6vw;
    box-shadow: 0px 0px 20px var(--retoques) ;
    color: var(--iconos);
    position: absolute;
    z-index: 100;
    cursor: pointer;
}

/* main inicio */
.main-inicio {
    width: 100vw;
    position: absolute;
    background-color: var(--secundario);
    z-index: -500;
    padding: 13.5vw;
    text-align: left;
    color: var(--principal);
}
.main-inicio span{
    color: var(--retoques);
}
.introduccion {
    margin-top: 8vw;
}
.imagen-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    overflow: hidden;
    margin-bottom: 10vh;
}
.triangulo {
    display: none;
}
.imagen-inicio img{
    width: 50vw;
    filter: grayscale(100%);
    transition: all 1s;
}
.imagen-inicio img:hover{
    filter: grayscale(0);
}
/*footer*/
.contenedor-iconos {
    width: 100vw;
    position: fixed;
    z-index: 500;
    bottom: 0;
    height: 10vh;
    background-color: var(--barraInferior);
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 2vw;
}
.inicio-footer {
    background-color: var(--principal);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px var(--retoques);
    color:var(--iconos) ;
    font-size: 4vw;
    cursor: pointer;
}
.retoques{
    background-color: var(--retoques);
}
/*sobre mí*/
.main-sobreMi {
    width: 100vw;
    position: absolute;
    background-color: var(--secundario);
    z-index: -500;
    padding: 13.5vw;
    text-align: left;
    color: var(--principal);
}
.main-sobreMi h4 {
    color: var(--principal);
    font-size: 10vw;
    text-shadow: 0px 0px 10px var(--retoques);
    text-align: center;
}
.main-sobreMi h4 span {
    color: var(--retoques);
    text-shadow: 0px 0px 10px var(--secundario);
}
.main-sobreMi h5 {
    font-size: 8vw; 
}
.diploma {
    width: 70vw;
    justify-self: center;
    margin-top: 5vw;
}
.herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 9vw;
}
.parrafoFinal {
    margin-bottom: 15vw;
}
.habilidades {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
.habilidades h6 {
    font-size: 3vw;
    padding: 2vw;
    border: 1px solid var(--secundario);
    background-color: var(--principal);
    color: var(--secundario);
    border-radius: 10%;
}
.habilidades h6:hover {
    background-color: var(--retoques);
}
.habilidades a {
    list-style: none;
    text-decoration: none;
}

/*Proyectos*/

.main-proyectos {
    width: 100vw;
    position: absolute;
    background-color: var(--secundario);
    z-index: -500;
    padding: 13.5vw;
    text-align: left;
    color: var(--principal);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-proyectos h4 {
    color: var(--principal);
    font-size: 8vw;
    text-shadow: 0px 0px 10px var(--retoques);
    text-align: center;
}
.main-proyectos h4 span {
    color: var(--retoques);
    text-shadow: 0px 0px 10px var(--secundario);
}
.proyectosMios {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 5vh;
    gap: 5vw;
    margin-top: 10vh;
    justify-content: start;
    align-items: center;
    
}
.proyectosMios>div {
    width: 80vw;
    height: 20vh;
    margin-bottom: 5vw;
    overflow: hidden;
    position: relative;
}
.proyectosMios>div>img {
    width: 80vw;
    object-fit: cover;
    object-position: bottom;
}
.proyectosMios>div>.modalProyectos {
background-color: var(--retoques);
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 7vw;
text-align: center;
opacity: 0;
transition: all .5s ease-in-out;
transform: scale(0);
}
.proyectosMios>div:hover .modalProyectos{
    opacity: 1;
    transform: scale(1);
}
.modalProyectos h5 {
    color: var(--secundario);
}
.redes {
    display: flex;
    margin-top: 3vw;
    gap: 5vw;
}
.redes>div {
    background-color: var(--secundario);
    color: var(--retoques);
    width: 12vw;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.redes>div>a {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--retoques);
}
.redes>div:hover {
    background-color: var(--barraInferior);
}
.reloj {
    margin-bottom: 10vh!important;
}

/*SECCION CURRICULUM*/
.main-curriculum {
    width: 100vw;
    position: absolute;
    background-color: var(--secundario);
    z-index: -500;
    padding: 13.5vw;
    text-align: left;
    color: var(--principal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.main-curriculum h4 {
    color: var(--principal);
    font-size: 8vw;
    text-shadow: 0px 0px 10px var(--retoques);
    text-align: center;
}
.main-curriculum h4 span {
    color: var(--retoques);
    text-shadow: 0px 0px 10px var(--secundario);
}
.main-curriculum img{
    width: 90vw;
   }
.main-curriculum a{
 text-decoration: none;
 color: var(--principal);
 margin-top: 5vw;
 padding: 2vw;
 border: 2px solid var(--retoques);
 transition: all 1s;
 margin-bottom: 10vw;
}
.main-curriculum a:hover {
    background-color: var(--retoques);
    color: var(--secundario);
}

/*contactame*/
.main-contactame {
    width: 100vw;
    position: absolute;
    background-color: var(--secundario);
    z-index: -500;
    padding: 13vw;
    text-align: left;
    color: var(--principal);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
}
.main-contactame h4 {
    color: var(--principal);
    font-size: 8vw;
    text-shadow: 0px 0px 10px var(--retoques);
    text-align: center;
}
.main-contactame h4 span {
    color: var(--retoques);
    text-shadow: 0px 0px 10px var(--secundario);
}
.redesSociales{
    justify-self: center;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--principal);
    flex-direction: column;
}
.redesSociales a {
    font-size: 3vw;
    text-decoration: none;
    gap: 2vw;
    color: var(--retoques);
}
.redesSociales a div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
    gap: 2vw;
}

.redesSociales a div h4:hover {
    color: var(--retoques);
}

@media all and (min-width:992px) {
   /*menu de temas*/
   .tituloYcerrar {
    font-size: 5vw;
    height: 20vh;
    margin-top: 1vw;
    overflow: hidden;
   }
   .cerrar {
    font-size: 6vw;
   }
   /*temario*/
   .temario {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .listaDeTemas {
    width: 80vw;
    border: .2vw solid var(--principal);
   }
   /*boton de temas*/
    .modo {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    margin-right: 2vw;
    position: inherit;
   }
   /*main inicio*/
   .main-inicio {
    padding: 5.5vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8vw;
    font-size: 1.5vw;
    overflow-y: hidden;
   }
   .introduccion {
    margin-top: 4vw;
    font-size: 1vw;
   }
   .imagen-inicio {
    margin: 0;
   }
   .imagen-inicio img{
    width: 30vw;
    position: relative;
    z-index: 3;
   }
   .triangulo {
    display: inherit;
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    height: 90vh;
    z-index: -2;
    background-color: var(--retoques);
    clip-path: polygon(100% 15%, 45% 100%, 0 36%);
    transition:  2s ease-in-out;
    opacity: .6;
   }
   .transformar{
    transform: rotate(180deg);
   }
   /*footer*/
   .contenedor-iconos {
    background-color: transparent;
    right: .5vw;
    flex-direction: column;
    top: 0;
    width: 8vw;
    top: 15vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    z-index: 50;
   }
   .inicio-footer {
    width: 4vw;
    height: 4vw;
    font-size: 1.5vw;
   }
   /*sobre mi*/
   .main-sobreMi {
    padding: 8vw;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .main-sobreMi h4 {
    font-size: 5vw;
   }
   .main-sobreMi h5 {
    font-size: 4vw; 
    }
    .diploma {
        border-radius: 5vw;
        margin-top: 2.5vw;
        margin-bottom: 3vw;
    }
    .herramientas i:hover {
        color: var(--retoques);
    }
    .habilidades {
        margin-bottom: 2vw;
    }
    .habilidades h6 {
        padding: 1vw;
        font-size: 2vw;
    }
    .parrafoFinal {
        margin: 0;
        text-align: center;
    }
    /*proyectos*/
    .main-proyectos {
        padding: 8vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-proyectos h4 {
        font-size: 5vw;
    }
    .proyectosMios {
        justify-content: center;

    }
    .proyectosMios>div {
        width: 40vw;
        height: 40vh;
        border-radius: 5%;
    }
    .proyectosMios>div>img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .proyectosMios>div>.modalProyectos {
        font-size: 2.5vw;
        width: 100%;
        height: 22.9vw;
    }
    .redes>div {
        width: 3vw;
        height: 3vw;
    }
    .redes>div:hover {
        background-color: var(--principal);
    }
    /*Curriculum*/
    .main-curriculum {
        padding: 8vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2;
    }
    .main-curriculum h4 {
        font-size: 5vw;
    }
    .main-curriculum img{
        width: 30vw;
       }
       .main-curriculum a {
        position: absolute;
        left:70vw;
        top: 75.3vh;
       }
    /*contactame*/ 
    .main-contactame h4 {
        font-size: 4vw;
    }
    .redesSociales a div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        gap: 2vw;
    }
}